div {
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: rgba(7, 2, 12, 0.103);
    border: solid 1px #ccc;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 1px 1px 3px 3px;
    top: 50%;
    right: 50%;
}